@model LienHe

<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url(/images/bg-01.jpg); margin-top: 80px">
	<h2 class="ltext-105 cl0 txt-center" style="font-family: Helvetica;">
		Liên Hệ
	</h2>
</section>
<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<div class="flex-w flex-tr">
			<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<form method="post" asp-action="XLLienHe">
					<h4 class="mtext-105 cl2 txt-center p-b-30" style="font-family: Helvetica;">
						Thông Tin Liên Hệ
					</h4>

					<div class="bor8 m-b-20 how-pos4-parent">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email" asp-for="Email" placeholder=" Email ">
						<img class="how-pos4 pointer-none" src="~/images/icons/icon-email.png" alt="ICON">
					</div>

					<div class="bor8 m-b-30">
						<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="msg" asp-for="NoiDung" placeholder="Nội dung liên hệ"></textarea>
					</div>
					@if (TempData["msg"] != null)
					{
						<div id="form-message-success" style="display: block !important; color:green; font-size:18px;" class="mb-4">
							Tin nhắn của bạn đã được gửi
						</div>
					}

					<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
						Gửi
					</button>
				</form>
			</div>

			<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
				<div class="flex-w w-full p-b-42">
					<span class="fs-18 cl5 txt-center size-211">
						<span class="lnr lnr-map-marker"></span>
					</span>

					<div class="size-212 p-t-2">
						<span class="mtext-110 cl2" style="font-family: Helvetica;">
							Địa chỉ
						</span>

						<p class="stext-115 cl1 size-213 p-t-18" style="font-family: Helvetica;">
							Số 178, đường Lê Duẩn, thành phố Vinh, tỉnh Nghệ An
						</p>
					</div>
				</div>

				<div class="flex-w w-full p-b-42">
					<span class="fs-18 cl5 txt-center size-211">
						<span class="lnr lnr-phone-handset"></span>
					</span>

					<div class="size-212 p-t-2">
						<span class="mtext-110 cl2" style="font-family: Helvetica;">
							Số điện thoại
						</span>

						<p class="stext-115 cl1 size-213 p-t-18">
							0987.567.668
						</p>
					</div>
				</div>

				<div class="flex-w w-full">
					<span class="fs-18 cl5 txt-center size-211">
						<span class="lnr lnr-envelope"></span>
					</span>

					<div class="size-212 p-t-2">
						<span class="mtext-110 cl2" style="font-family: Helvetica;">
							Hộp thư
						</span>

						<p class="stext-115 cl1 size-213 p-t-18" style="font-family: Helvetica;">
							contact@example.com
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Map -->
<div class="map">

	<div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787"  data-scrollwhell="0" data-draggable="1" data-zoom="11">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.1102358014573!2d105.6911362721899!3d18.65904862619099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139cddf0bf20f23%3A0x86154b56a284fa6d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBWaW5o!5e0!3m2!1svi!2s!4v1684217055949!5m2!1svi!2s" width="1350" height="410" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	
</div>



 